# Automatically normalize line endings for all text-based files
#* text=auto
# Disabled because of https://github.com/mathiasbynens/dotfiles/issues/149 :(

# Assign language-aware hunk-headers
*.php diff=php
*.html.twig diff=html
*.html diff=html
*.ruby diff=ruby
*.rake diff=ruby
*.js diff="javascript"
