# Make vim the default editor
export EDITOR="vim";

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768;
export HISTFILESIZE=$HISTSIZE;
export HISTCONTROL=ignoredups;
# Make some commands not show up in history
export HISTIGNORE="ls:cd:cd -:pwd:exit:date";

# Prefer US English and use UTF-8
export LANG="en_US.UTF-8";
export LC_ALL="en_US.UTF-8";

# less options:
# --quit-if-one-screen - exit less if the output is short
# --mouse              - allow scrolling with the mouse/trackpad
# --raw-control-chars  - pass through escape sequences like colours so output is still formatted
# --no-init            - do not clear the screen after quitting
export LESS="--quit-if-one-screen --mouse --raw-control-chars --no-init --tabs=4 --HILITE-UNREAD --tilde --status-column"
# Highlight section titles in manual pages
export LESS_TERMCAP_md="${yellow}";

export PAGER="less";
export MANPAGER="less";

# Link Homebrew casks in `/Applications` rather than `~/Applications`
export HOMEBREW_CASK_OPTS="--appdir=/Applications";

export GOPATH=$HOME/go

export GIT_DUET_CO_AUTHORED_BY=1
export GIT_DUET_ROTATE_AUTHOR=1
export GIT_DUET_GLOBAL=1

export NVM_DIR="$HOME/.nvm"

export GPG_TTY=$(tty)
